Smart_Melon_Farm/Code/Node red/flows-2.json
[{"id":"c341965c.511cb8","type":"tab","label":"rule engin","disabled":false,"info":""},{"id":"f52431ce.f4012","type":"mqtt in","z":"c341965c.511cb8","name":"","topic":"local/modecode","qos":"2","datatype":"auto","broker":"857a8e58.f89c6","x":220,"y":1420,"wires":[["9e1a0662.1d76b8"]]},{"id":"9b8f7bac.38de98","type":"mqtt in","z":"c341965c.511cb8","name":"","topic":"local/standardcode","qos":"2","datatype":"auto","broker":"857a8e58.f89c6","x":230,"y":729,"wires":[["af3b43e.06db1c"]]},{"id":"f15efab7.c9f218","type":"change","z":"c341965c.511cb8","name":"set to A","rules":[{"t":"set","p":"payload","pt":"msg","to":"A","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1360,"wires":[["3dd041d3.b9c54e"]]},{"id":"9e1a0662.1d76b8","type":"switch","z":"c341965c.511cb8","name":"switch mode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"65","vt":"str"},{"t":"eq","v":"77","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":1420,"wires":[["f15efab7.c9f218"],["fbe33189.6c4ec"]]},{"id":"3dd041d3.b9c54e","type":"switch","z":"c341965c.511cb8","name":"mode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"A","vt":"str"},{"t":"eq","v":"M","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":1420,"wires":[["abc4f903.2c9f18"],["e4da0bf6.114018"]]},{"id":"fbe33189.6c4ec","type":"change","z":"c341965c.511cb8","name":"set to M","rules":[{"t":"set","p":"payload","pt":"msg","to":"M","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1480,"wires":[["3dd041d3.b9c54e"]]},{"id":"e4da0bf6.114018","type":"change","z":"c341965c.511cb8","name":"manual mode","rules":[{"t":"set","p":"manualmode","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":1520,"wires":[[]]},{"id":"abc4f903.2c9f18","type":"switch","z":"c341965c.511cb8","name":"","property":"moisture","propertyType":"global","rules":[{"t":"gte","v":"standardcode","vt":"flow"},{"t":"lte","v":"standardcode","vt":"flow"}],"checkall":"true","repair":false,"outputs":2,"x":1010,"y":1360,"wires":[["36e04ea7.75c142"],["fe319cc6.2c9a5"]]},{"id":"36e04ea7.75c142","type":"change","z":"c341965c.511cb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":1320,"wires":[[]]},{"id":"fe319cc6.2c9a5","type":"change","z":"c341965c.511cb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":1398,"wires":[[]]},{"id":"7e1bbd6e.15faf4","type":"mqtt out","z":"c341965c.511cb8","name":"pub to pump","topic":"local/pump","qos":"2","retain":"","broker":"857a8e58.f89c6","x":650,"y":160,"wires":[]},{"id":"b05e867f.641398","type":"ui_text","z":"c341965c.511cb8","group":"469ca87f.9e6bc8","order":2,"width":0,"height":0,"name":"standardcode","label":"ຄ່າມາດຕະຖານຄວາມຊຸ່ມດິນ","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":661,"wires":[]},{"id":"af3b43e.06db1c","type":"function","z":"c341965c.511cb8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":729,"wires":[["b05e867f.641398"]]},{"id":"8e76826a.29647","type":"ui_text_input","z":"c341965c.511cb8","name":"set standardcode","label":"ຕັ່ງຄ່າໃໝ່","tooltip":"","group":"469ca87f.9e6bc8","order":5,"width":"0","height":"0","passthru":false,"mode":"number","delay":"100","topic":"","x":1030,"y":660,"wires":[["813b4ed5.51865","3909aa6b.95c976"]]},{"id":"346a310.8467cd","type":"ui_switch","z":"c341965c.511cb8","name":"pump","label":"ປ້ຳນ້ຳ","tooltip":"","group":"55feac2d.603b54","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":470,"y":240,"wires":[["7e1bbd6e.15faf4","ba3af66e.5ae828"]]},{"id":"ba3af66e.5ae828","type":"function","z":"c341965c.511cb8","name":"","func":"msg.payload = \n    {\n        \"path\": \"pump/valve\",\n        \"obj\": msg.payload\n    }\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":280,"wires":[["9d83d16b.21cf1"]]},{"id":"813b4ed5.51865","type":"function","z":"c341965c.511cb8","name":"","func":"msg.payload = \n    {\n        \"path\": \"pump/standard\",\n        \"obj\": msg.payload\n    }\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1280,"y":660,"wires":[["6ef4657d.e0e87c"]]},{"id":"11d5c616.be0f1a","type":"change","z":"c341965c.511cb8","name":"standard number","rules":[{"t":"set","p":"standard_num","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":580,"wires":[[]]},{"id":"3909aa6b.95c976","type":"change","z":"c341965c.511cb8","name":"standard number","rules":[{"t":"set","p":"standard_num","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":599,"wires":[[]]},{"id":"33258b30.2c1f04","type":"ui_button","z":"c341965c.511cb8","name":"","group":"469ca87f.9e6bc8","order":6,"width":0,"height":0,"passthru":false,"label":"Set","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":770,"y":760,"wires":[["8e76826a.29647","aad42482.3e0f58"]]},{"id":"aad42482.3e0f58","type":"switch","z":"c341965c.511cb8","name":"","property":"moistures","propertyType":"global","rules":[{"t":"gte","v":"standard_num","vt":"global"},{"t":"gte","v":"standard_num","vt":"global"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":840,"wires":[["7719d4fe.c031ec"],["5a54d10f.d84a4"]]},{"id":"7719d4fe.c031ec","type":"change","z":"c341965c.511cb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1261,"y":782,"wires":[[]]},{"id":"5a54d10f.d84a4","type":"change","z":"c341965c.511cb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1261,"y":902,"wires":[[]]},{"id":"88c4334b.897be","type":"mqtt out","z":"c341965c.511cb8","name":"pub to pump","topic":"local/pump","qos":"2","retain":"","broker":"857a8e58.f89c6","x":1550,"y":840,"wires":[]},{"id":"d7e24ad6.0f2858","type":"comment","z":"c341965c.511cb8","name":"rule 1","info":"\n# set the pump status\n * set pump status to google firebase\n * get pump status to google firebase\n *\n## Pub to local pump in IoT greenhouse","x":110,"y":160,"wires":[]},{"id":"6c8107ad.e17018","type":"comment","z":"c341965c.511cb8","name":"rule 2","info":"\n# set to auto mode base on soil moisture form IoT greenhouse\n\n - if reading number greater than standard number then turn off the pump\n - else if reading number less than standard number then pump should be turning on","x":110,"y":600,"wires":[]},{"id":"b54f961.647e668","type":"comment","z":"c341965c.511cb8","name":"rule 3","info":"\n# Set to mode\n * auto mode should be sub 'A' from IoT greenhouse\n * manual mode should be sub 'M' from IoT greenhouse","x":110,"y":1340,"wires":[]},{"id":"6ef4657d.e0e87c","type":"rtdb-set","z":"c341965c.511cb8","name":"set data to firebase","cred":"9f917491.14c1f8","x":1570,"y":660,"wires":[]},{"id":"9d83d16b.21cf1","type":"rtdb-set","z":"c341965c.511cb8","name":"set data to firebase","cred":"9f917491.14c1f8","x":930,"y":280,"wires":[]},{"id":"5168add0.d7df94","type":"rtdb-on","z":"c341965c.511cb8","name":"get data from firebase","path":"pump/standard","cred":"9f917491.14c1f8","x":360,"y":660,"wires":[["b05e867f.641398","11d5c616.be0f1a"]]},{"id":"906980b5.faf41","type":"rtdb-on","z":"c341965c.511cb8","name":"get data from firebase","path":"pump/valve","cred":"9f917491.14c1f8","x":240,"y":240,"wires":[["346a310.8467cd"]]},{"id":"857a8e58.f89c6","type":"mqtt-broker","z":"","name":"","broker":"192.168.9.75","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"469ca87f.9e6bc8","type":"ui_group","z":"","name":"ຕັ່ງຄ່າມາດຕະຖານ","tab":"2c10bc8a.72aa14","order":2,"disp":true,"width":"6","collapse":false},{"id":"55feac2d.603b54","type":"ui_group","z":"","name":"ປ້ຳນ້ຳ","tab":"2c10bc8a.72aa14","order":1,"disp":true,"width":"6","collapse":false},{"id":"9f917491.14c1f8","type":"firebase-config","z":0,"name":"firebaseAdmin","cred":"{   \"type\": \"service_account\",   \"project_id\": \"melonhub-3d561\",   \"private_key_id\": \"c70fd294b3569b784b0c9a296f498b600a9365c7\",   \"private_key\": \"-----BEGIN PRIVATE KEY-----\\nMIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQCxp/5z7bjhwxHt\\nFEi0Le24QnF3taUct00CtMMk1r9DKHvse87YPtGyVLUfWwGmynbLudLmK72PqPEh\\n6t6AngNzmNkCXhX3dlJGcf7CaKchtx68FoL+FfYdV8QpCUI0avXv9IUBfR1T7n8E\\nwv1zFf290rWxmiibZGak7rjOkOqfa/Bt18qMSswvMiFlJATmAaiVCF208bhcRGn1\\niT9NOhJnLbhpV+4R8hGm08DQHz6qm0b8thoFlJs1yBEd69hakZKHvTtCC9FNK6k4\\npreGc2xfYoLgzOmApnIwshTLxAcOJPr/v186rEtyDFnOFETaqojMnCQuUWq8V1KH\\nbDF9lbQJAgMBAAECggEAU0iA9dHUoSl0huLCbo01avLjBI6H991KYeFhtixh/1bE\\nOYmU3zUb0vD489kS/iDd7gWQA80vkWBOomrbognxbkiSOxTmUVsLmPCp0HOFHj4d\\nT2lyQTEEbp8NW3t2qOIXp0TG8Xq4u/cLXq0WadQ+XrWf7cFqFebMY7dxtYykINWL\\n+DeDVoxbLkHqsoaTbcDcIeI6Ac8PdDcDaHEJBxi+KaJtVY7+VFp++t2E1BJ1wzCJ\\nWEFnmJAQTPPL644QobDHpztUcsLDxX+FxI6arQ0XoEClqB7LgD05hbV4RbQRWhIy\\nDSO9U9Qvwb3b6RwSsSmebttQFs6fxpMYgqyjlQNIDQKBgQD3a/Ym9C6Zshxh0Pbt\\ncz6yrxZ/qmFkjRh1bpg+RxemSjFRzKodMVxwQ9KR8NQGZh6hz0DjQDcU2o2oO/fs\\nhNVH7YFxWvKLXRKkD1VVd/a4F1+GsPYGp01gj3gVpfurwUkYoXFdWMQep1ZujoiS\\nkLBZbUMMXqevKJs0hNu+5OCtAwKBgQC30NDE9yUj6PC17zTmSJ8htFR5rP9Sm2oe\\ncbkfSVz25YLt+3Vp/iZUhknnTsFq/7MPei1uNz+rqTHab25IYL5WnizK9c/q5yVq\\nryS14FOvmHW5gxG1YvHylVgtXduQCRxpBwX4BTUhFdK6NAniwdzsszNFrCCQ9oJ0\\nmn1lucWPAwKBgGjneo+bmqKJ9SS4H+ofoebK+8QXboHenQ81XBGTvQBBltWy7DHC\\newoSh5ZfQNaRt80tfbqcwH30CHnbK0w6Kd/8YJS6Vfom9T9gTPMXESGOr28BWt8J\\nUnJtgiHTpXh2VFLAKLvGZikFFE1924QhGtRf0jzNaVWH5v6GklFG48gXAoGAagL3\\ndLFo7SX6NaNo6es2Q7UCB067zkOt1zMVZjLkd8x0T5Z36BJYvuTYGJw2NuSTu7hm\\nHSul//XLt8QOYZXSEJiXEtLkAAEhdj7euDpRaXNPahdqjicrjRGO0lNQPujSRsxz\\nJ9CxDIzOhO9gSDQwmx7a0jLscU6KfH9hFNsoUksCgYBq03LQBLk5IrezVlLiHBn4\\n2r6B7But130KjUkoKQnULThc8PzW4iCdZqH9wmafDp6i+Pb1dQyMSJXAz3WSTrpn\\nrz6ZWzMTCgr/xXRli185QYJG03wzHC0K2PtMDwRDQiTWewLC/BjnCyrXAYkF1Y9X\\nY8YvIr1uy7WeuO3tMi6n0g==\\n-----END PRIVATE KEY-----\\n\",   \"client_email\": \"firebase-adminsdk-eotjp@melonhub-3d561.iam.gserviceaccount.com\",   \"client_id\": \"106057534069590528382\",   \"auth_uri\": \"https://accounts.google.com/o/oauth2/auth\",   \"token_uri\": \"https://oauth2.googleapis.com/token\",   \"auth_provider_x509_cert_url\": \"https://www.googleapis.com/oauth2/v1/certs\",   \"client_x509_cert_url\": \"https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-eotjp%40melonhub-3d561.iam.gserviceaccount.com\" }","dburl":"https://melonhub-3d561.firebaseio.com/","bucket":""},{"id":"2c10bc8a.72aa14","type":"ui_tab","z":"","name":"ການຄວບຄຸມ","icon":"dashboard","order":2,"disabled":false,"hidden":false}]