Presentation_program/8_The implementation_Smart_Farm/presentation_material/Smart_Melon_Farm/Code/Node red/flows.json
[{"id":"c365f731.1d8c78","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"44215ecc.31c63","type":"inject","z":"c365f731.1d8c78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"path\":\"test\",\"obj\":[{\"the\":\"dai br\"}]}","payloadType":"json","x":200,"y":240,"wires":[["2d2d712c.07950e"]]},{"id":"319ba6c7.fcf64a","type":"function","z":"c365f731.1d8c78","name":"","func":"var now = new Date();\n\nmsg.payload = \n    {\n        \"path\": \"test2\",\n        \"obj\": {\n            \"date\": now,\n            \"in\": 88,\n            \"out\": 48\n        }\n    }\n    \nvar fireMsg = {payload:\n    {\n        \"path\": \"test3\",\n        \"obj\": {\n            \"date\": now,\n            \"in\": 30,\n            \"out\": 93\n        }\n    }\n}\n    \nreturn [msg,fireMsg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":500,"y":540,"wires":[["6af4b5ff.2c9dfc","1c6cef1.5b20411"],["2c852c4c.af0e64","908cf58f.15b3d8"]]},{"id":"1c5fda63.4c98b6","type":"inject","z":"c365f731.1d8c78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":500,"wires":[["319ba6c7.fcf64a"]]},{"id":"1c6cef1.5b20411","type":"debug","z":"c365f731.1d8c78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":360,"wires":[]},{"id":"5e1f270e.5c1a68","type":"debug","z":"c365f731.1d8c78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1140,"y":440,"wires":[]},{"id":"908cf58f.15b3d8","type":"debug","z":"c365f731.1d8c78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":640,"wires":[]},{"id":"2d2d712c.07950e","type":"rtdb-set","z":"c365f731.1d8c78","name":"","cred":"9f917491.14c1f8","x":620,"y":300,"wires":[]},{"id":"6af4b5ff.2c9dfc","type":"firestore-add","z":"c365f731.1d8c78","name":"","cred":"9f917491.14c1f8","x":790,"y":440,"wires":[["5e1f270e.5c1a68"]]},{"id":"2c852c4c.af0e64","type":"firestore-add","z":"c365f731.1d8c78","name":"","cred":"9f917491.14c1f8","x":790,"y":560,"wires":[["5e1f270e.5c1a68"]]},{"id":"9f917491.14c1f8","type":"firebase-config","z":0,"name":"firebaseAdmin","cred":"{   \"type\": \"service_account\",   \"project_id\": \"melonhub-3d561\",   \"private_key_id\": \"c70fd294b3569b784b0c9a296f498b600a9365c7\",   \"private_key\": \"-----BEGIN PRIVATE KEY-----\\nMIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQCxp/5z7bjhwxHt\\nFEi0Le24QnF3taUct00CtMMk1r9DKHvse87YPtGyVLUfWwGmynbLudLmK72PqPEh\\n6t6AngNzmNkCXhX3dlJGcf7CaKchtx68FoL+FfYdV8QpCUI0avXv9IUBfR1T7n8E\\nwv1zFf290rWxmiibZGak7rjOkOqfa/Bt18qMSswvMiFlJATmAaiVCF208bhcRGn1\\niT9NOhJnLbhpV+4R8hGm08DQHz6qm0b8thoFlJs1yBEd69hakZKHvTtCC9FNK6k4\\npreGc2xfYoLgzOmApnIwshTLxAcOJPr/v186rEtyDFnOFETaqojMnCQuUWq8V1KH\\nbDF9lbQJAgMBAAECggEAU0iA9dHUoSl0huLCbo01avLjBI6H991KYeFhtixh/1bE\\nOYmU3zUb0vD489kS/iDd7gWQA80vkWBOomrbognxbkiSOxTmUVsLmPCp0HOFHj4d\\nT2lyQTEEbp8NW3t2qOIXp0TG8Xq4u/cLXq0WadQ+XrWf7cFqFebMY7dxtYykINWL\\n+DeDVoxbLkHqsoaTbcDcIeI6Ac8PdDcDaHEJBxi+KaJtVY7+VFp++t2E1BJ1wzCJ\\nWEFnmJAQTPPL644QobDHpztUcsLDxX+FxI6arQ0XoEClqB7LgD05hbV4RbQRWhIy\\nDSO9U9Qvwb3b6RwSsSmebttQFs6fxpMYgqyjlQNIDQKBgQD3a/Ym9C6Zshxh0Pbt\\ncz6yrxZ/qmFkjRh1bpg+RxemSjFRzKodMVxwQ9KR8NQGZh6hz0DjQDcU2o2oO/fs\\nhNVH7YFxWvKLXRKkD1VVd/a4F1+GsPYGp01gj3gVpfurwUkYoXFdWMQep1ZujoiS\\nkLBZbUMMXqevKJs0hNu+5OCtAwKBgQC30NDE9yUj6PC17zTmSJ8htFR5rP9Sm2oe\\ncbkfSVz25YLt+3Vp/iZUhknnTsFq/7MPei1uNz+rqTHab25IYL5WnizK9c/q5yVq\\nryS14FOvmHW5gxG1YvHylVgtXduQCRxpBwX4BTUhFdK6NAniwdzsszNFrCCQ9oJ0\\nmn1lucWPAwKBgGjneo+bmqKJ9SS4H+ofoebK+8QXboHenQ81XBGTvQBBltWy7DHC\\newoSh5ZfQNaRt80tfbqcwH30CHnbK0w6Kd/8YJS6Vfom9T9gTPMXESGOr28BWt8J\\nUnJtgiHTpXh2VFLAKLvGZikFFE1924QhGtRf0jzNaVWH5v6GklFG48gXAoGAagL3\\ndLFo7SX6NaNo6es2Q7UCB067zkOt1zMVZjLkd8x0T5Z36BJYvuTYGJw2NuSTu7hm\\nHSul//XLt8QOYZXSEJiXEtLkAAEhdj7euDpRaXNPahdqjicrjRGO0lNQPujSRsxz\\nJ9CxDIzOhO9gSDQwmx7a0jLscU6KfH9hFNsoUksCgYBq03LQBLk5IrezVlLiHBn4\\n2r6B7But130KjUkoKQnULThc8PzW4iCdZqH9wmafDp6i+Pb1dQyMSJXAz3WSTrpn\\nrz6ZWzMTCgr/xXRli185QYJG03wzHC0K2PtMDwRDQiTWewLC/BjnCyrXAYkF1Y9X\\nY8YvIr1uy7WeuO3tMi6n0g==\\n-----END PRIVATE KEY-----\\n\",   \"client_email\": \"firebase-adminsdk-eotjp@melonhub-3d561.iam.gserviceaccount.com\",   \"client_id\": \"106057534069590528382\",   \"auth_uri\": \"https://accounts.google.com/o/oauth2/auth\",   \"token_uri\": \"https://oauth2.googleapis.com/token\",   \"auth_provider_x509_cert_url\": \"https://www.googleapis.com/oauth2/v1/certs\",   \"client_x509_cert_url\": \"https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-eotjp%40melonhub-3d561.iam.gserviceaccount.com\" }","dburl":"https://melonhub-3d561.firebaseio.com/","bucket":""}]