Presentation_program/8_The implementation_Smart_Farm/presentation_material/Smart_Melon_Farm/Code/Node red/flows-1.json
[{"id":"5c27921.39ded6c","type":"tab","label":"CEIT melon local hub","disabled":false,"info":""},{"id":"b00c82b3.7a3a2","type":"mqtt in","z":"5c27921.39ded6c","name":"","topic":"local/light1","qos":"2","datatype":"auto","broker":"857a8e58.f89c6","x":100,"y":1049,"wires":[["5eb2ff53.70f4e","353cb7cd.df01b8","8ae71072.b6669"]]},{"id":"8a546b2b.30e228","type":"mqtt in","z":"5c27921.39ded6c","name":"","topic":"local/light2","qos":"2","datatype":"auto","broker":"857a8e58.f89c6","x":100,"y":1230,"wires":[["83d17304.5779a","f3a32afe.dfb448","658827ae.facbd8"]]},{"id":"21522436.f44f1c","type":"mqtt in","z":"5c27921.39ded6c","name":"","topic":"local/moisture1","qos":"2","datatype":"auto","broker":"857a8e58.f89c6","x":140,"y":1660,"wires":[["5f9963ec.94651c","e5c23847.fc9438","12783faa.bd0b9","ba60135e.8e6c1"]]},{"id":"a911f004.86c33","type":"mqtt in","z":"5c27921.39ded6c","name":"","topic":"local/moisture2","qos":"2","datatype":"auto","broker":"857a8e58.f89c6","x":140,"y":1800,"wires":[["ab5b7f88.940e3","2bf12795.289328"]]},{"id":"bb415a66.4a5358","type":"mqtt in","z":"5c27921.39ded6c","name":"","topic":"local/moisture3","qos":"2","datatype":"auto","broker":"857a8e58.f89c6","x":140,"y":1957,"wires":[["5c8e28d4.420938","a425df3b.b591b"]]},{"id":"406f725e.47af1c","type":"function","z":"5c27921.39ded6c","name":"prepare temperature to database","func":"var now = new Date();\n\nif (msg.topic === 'local/temp1'){\n    context.value = msg.payload;\n}\n\nif (msg.topic === 'local/temp2'){\n    \n    var temp2 = msg.payload;\n    \n    msg.payload = [{\n            \"in\": context.value,\n            \"out\": temp2\n    }]\n    \n    var fireMsg = {payload:\n        {\n            \"path\": \"temperatures\",\n            \"obj\": {\n                \"date\": now,\n                \"in\": context.value,\n                \"out\": temp2\n            }\n        }\n    }\n    \n    return [msg, fireMsg];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":620,"y":700,"wires":[["2877701.6407a9"],["a6fc6ca5.02342"]]},{"id":"18293788.7a7de8","type":"function","z":"5c27921.39ded6c","name":"prepare light to database","func":"var now = new Date();\n\nif (msg.topic === 'local/light1'){\n    context.value = msg.payload;\n}\n\nif (msg.topic === 'local/light2'){\n    \n    var light2 = msg.payload;\n    \n    msg.payload = [{\n        \"in\": context.value,\n        \"out\": light2\n    }]\n    \n    var fireMsg = {payload:\n        {\n            \"path\": \"lights\",\n            \"obj\": {\n                \"date\": now,\n                \"in\": context.value,\n                \"out\": light2\n            }\n        }\n    }\n    \n    return [msg, fireMsg];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":570,"y":1140,"wires":[["562bac1d.856014"],["de1c3b93.066858"]]},{"id":"562bac1d.856014","type":"influxdb out","z":"5c27921.39ded6c","influxdb":"20cfed7.af41112","name":"lights to influxdata","measurement":"lights","precision":"","retentionPolicy":"","x":830,"y":1080,"wires":[]},{"id":"2bdbc9a.7b42636","type":"function","z":"5c27921.39ded6c","name":"prepare moisture to database","func":"// m = msg.topic;\n\n// if (m === \"local/moisture1\") {\n//     var moisture1 = msg.payload;\n// } \n// else if (m === \"local/moisture2\") {\n//     var moisture2 = msg.payload;\n// }\n// else {\n//     var moisture3 = msg.payload;\n// }\n\n// msg.payload = [{           \n//   moisture1: moisture1,\n//   moisture2: moisture2,\n//   moisture3: moisture3\n// }]\n\n// return msg;\n\nvar now = new Date();\n\nvar moisture1 = msg.payload;\n\nmsg.payload = [{\n        \"one\": moisture1\n    }]\n    \nvar fireMsg = {payload:\n        {\n            \"path\": \"moistures\",\n            \"obj\": {\n                \"date\": now,\n                \"one\": moisture1\n            }\n        }\n    }\n    \nreturn [msg, fireMsg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":600,"y":1800,"wires":[["c2747b2e.020f48"],["6ca3dfbe.57099"]],"info":"# TODO\nit reture msg 3 times"},{"id":"c2747b2e.020f48","type":"influxdb out","z":"5c27921.39ded6c","influxdb":"20cfed7.af41112","name":"moistures to influxdata","measurement":"moistures","precision":"","retentionPolicy":"","x":880,"y":1760,"wires":[]},{"id":"5f9963ec.94651c","type":"aggregator","z":"5c27921.39ded6c","name":"average in 5 minutes","topic":"local/moisture1","intervalCount":"5","intervalUnits":"m","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":360,"y":1653,"wires":[["2bdbc9a.7b42636"]]},{"id":"ab5b7f88.940e3","type":"aggregator","z":"5c27921.39ded6c","name":"average in ...","topic":"local/moisture2","intervalCount":"1","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":330,"y":1800,"wires":[[]]},{"id":"5c8e28d4.420938","type":"aggregator","z":"5c27921.39ded6c","name":"average in ...","topic":"local/moisture3","intervalCount":"1","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":330,"y":1957,"wires":[[]]},{"id":"5eb2ff53.70f4e","type":"aggregator","z":"5c27921.39ded6c","name":"average in 5 minutes","topic":"local/light1","intervalCount":"5","intervalUnits":"m","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":300,"y":1049,"wires":[["18293788.7a7de8"]]},{"id":"83d17304.5779a","type":"aggregator","z":"5c27921.39ded6c","name":"average in 5 minutes","topic":"local/light2","intervalCount":"5","intervalUnits":"m","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":300,"y":1230,"wires":[["18293788.7a7de8"]]},{"id":"b0a78adb.d828a8","type":"mqtt in","z":"5c27921.39ded6c","name":"","topic":"local/humid1","qos":"2","datatype":"auto","broker":"857a8e58.f89c6","x":110,"y":120,"wires":[["52617ce6.05f0f4","39bbf567.0fff2a","583f6a8c.dfd814","940e6aee.5dcf78"]]},{"id":"906acf46.a7f34","type":"mqtt in","z":"5c27921.39ded6c","name":"","topic":"local/humid2","qos":"2","datatype":"auto","broker":"857a8e58.f89c6","x":110,"y":320,"wires":[["ec2d79a.8347788","a37356dc.f4b828","14d12af0.93b265","940e6aee.5dcf78"]]},{"id":"52617ce6.05f0f4","type":"aggregator","z":"5c27921.39ded6c","name":"average in 5 minutes","topic":"local/humid1","intervalCount":"5","intervalUnits":"m","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":320,"y":120,"wires":[["6d843862.e1f658"]]},{"id":"ec2d79a.8347788","type":"aggregator","z":"5c27921.39ded6c","name":"average in 5 minutes","topic":"local/humid2","intervalCount":"5","intervalUnits":"m","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":320,"y":320,"wires":[["6d843862.e1f658"]]},{"id":"6d843862.e1f658","type":"function","z":"5c27921.39ded6c","name":"prepare humidities to database","func":"var now = new Date();\n\nif (msg.topic === 'local/humid1'){\n    context.value = msg.payload;\n}\n\nif (msg.topic === 'local/humid2'){\n    \n    var humid2 = msg.payload;\n    \n    msg.payload = [{\n        \"in\": context.value,\n        \"out\": humid2\n    }]\n    \n    var fireMsg = {payload:\n        {\n            \"path\": \"humidities\",\n            \"obj\": {\n                \"date\": now,\n                \"in\": context.value,\n                \"out\": humid2\n            }\n        }\n    }\n    \n    return [msg, fireMsg];\n}  ","outputs":2,"noerr":0,"initialize":"","finalize":"","x":610,"y":220,"wires":[["a6086c03.08a76"],["529c337b.5819dc"]]},{"id":"8d5a71dc.ac04c","type":"mqtt in","z":"5c27921.39ded6c","name":"","topic":"local/temp1","qos":"2","datatype":"auto","broker":"857a8e58.f89c6","x":110,"y":620,"wires":[["5498e7b1.d70f28","6a40b1e1.a67d7","4b12f096.30dec","c454e0d6.4d7f3"]]},{"id":"2a051996.8c3ba6","type":"mqtt in","z":"5c27921.39ded6c","name":"","topic":"local/temp2","qos":"2","datatype":"auto","broker":"857a8e58.f89c6","x":110,"y":780,"wires":[["d62c9649.a29ca8","b9f670e1.d1f04","475f0bd9.04f854","c454e0d6.4d7f3"]]},{"id":"a6086c03.08a76","type":"influxdb out","z":"5c27921.39ded6c","influxdb":"20cfed7.af41112","name":"humidities to influxdata","measurement":"humidities","precision":"","retentionPolicy":"","x":900,"y":160,"wires":[]},{"id":"5498e7b1.d70f28","type":"aggregator","z":"5c27921.39ded6c","name":"average in 5 minutes","topic":"local/temp1","intervalCount":"5","intervalUnits":"m","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":320,"y":620,"wires":[["406f725e.47af1c"]]},{"id":"d62c9649.a29ca8","type":"aggregator","z":"5c27921.39ded6c","name":"average in 5 minutes","topic":"local/temp2","intervalCount":"5","intervalUnits":"m","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":320,"y":780,"wires":[["406f725e.47af1c"]]},{"id":"2877701.6407a9","type":"influxdb out","z":"5c27921.39ded6c","influxdb":"20cfed7.af41112","name":"temperatures to influxdata","measurement":"temperatures","precision":"","retentionPolicy":"","x":930,"y":640,"wires":[]},{"id":"e5c23847.fc9438","type":"change","z":"5c27921.39ded6c","name":"standard number","rules":[{"t":"set","p":"moistures","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1600,"wires":[[]]},{"id":"39bbf567.0fff2a","type":"ui_gauge","z":"5c27921.39ded6c","name":"insite humidity","group":"22292483.ff341c","order":1,"width":0,"height":0,"gtype":"wave","title":"ຄວາມຊຸ່ມໃນໂຮງເຮືອນ","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":300,"y":180,"wires":[]},{"id":"a37356dc.f4b828","type":"ui_gauge","z":"5c27921.39ded6c","name":"outside humidity","group":"22292483.ff341c","order":2,"width":0,"height":0,"gtype":"wave","title":"ຄວາມຊຸ່ມນອກໂຮງເຮືອນ","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":300,"y":260,"wires":[]},{"id":"6a40b1e1.a67d7","type":"ui_gauge","z":"5c27921.39ded6c","name":"inside temperature","group":"a732fde4.46419","order":0,"width":0,"height":0,"gtype":"donut","title":"ອຸນຫະພູມໃນໂຮງເຮືອນ","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":310,"y":669,"wires":[]},{"id":"b9f670e1.d1f04","type":"ui_gauge","z":"5c27921.39ded6c","name":"outside temperature","group":"a732fde4.46419","order":0,"width":0,"height":0,"gtype":"donut","title":"ອຸນຫະພູມນອກໂຮງເຮືອນ","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":320,"y":729,"wires":[]},{"id":"353cb7cd.df01b8","type":"ui_gauge","z":"5c27921.39ded6c","name":"inside light","group":"56dba1a8.29992","order":2,"width":0,"height":0,"gtype":"compass","title":"ແສງໃນໂຮງເຮືອນ","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":270,"y":1100,"wires":[]},{"id":"f3a32afe.dfb448","type":"ui_gauge","z":"5c27921.39ded6c","name":"outside light","group":"56dba1a8.29992","order":2,"width":0,"height":0,"gtype":"compass","title":"ແສງນອກໂຮງເຮືອນ","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":270,"y":1180,"wires":[]},{"id":"12783faa.bd0b9","type":"ui_text","z":"5c27921.39ded6c","group":"74ed4848.834a78","order":1,"width":0,"height":0,"name":"moisture 1","label":"ຄວາມຊຸ່ມຕົວທີ 1 (%) :","format":"{{msg.payload}}","layout":"row-spread","x":330,"y":1698,"wires":[]},{"id":"2bf12795.289328","type":"ui_text","z":"5c27921.39ded6c","group":"74ed4848.834a78","order":1,"width":0,"height":0,"name":"moisture 2","label":"ຄວາມຊຸ່ມຕົວທີ 2 (%) : ","format":"{{msg.payload}}","layout":"row-spread","x":330,"y":1853,"wires":[]},{"id":"a425df3b.b591b","type":"ui_text","z":"5c27921.39ded6c","group":"74ed4848.834a78","order":1,"width":0,"height":0,"name":"moisture 3","label":"ຄວາມຊຸ່ມຕົວທີ 3 (%) :","format":"{{msg.payload}}","layout":"row-spread","x":330,"y":1907,"wires":[]},{"id":"583f6a8c.dfd814","type":"function","z":"5c27921.39ded6c","name":"","func":"msg.payload = \n    {\n        \"path\": \"realtime/humidities/inHumid\",\n        \"obj\": msg.payload\n    }\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":60,"wires":[["70d70b3e.bfd7c4"]]},{"id":"14d12af0.93b265","type":"function","z":"5c27921.39ded6c","name":"","func":"msg.payload = \n    {\n        \"path\": \"realtime/humidities/outHumid\",\n        \"obj\": msg.payload\n    }\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":380,"wires":[["3b3a3028.6951b"]]},{"id":"4b12f096.30dec","type":"function","z":"5c27921.39ded6c","name":"","func":"msg.payload = \n    {\n        \"path\": \"realtime/temperatures/inTemp\",\n        \"obj\": msg.payload\n    }\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":560,"wires":[["157e2276.14e06e"]]},{"id":"475f0bd9.04f854","type":"function","z":"5c27921.39ded6c","name":"","func":"msg.payload = \n    {\n        \"path\": \"realtime/temperatures/outTemp\",\n        \"obj\": msg.payload\n    }\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":840,"wires":[["e06b857c.2e85e8"]]},{"id":"8ae71072.b6669","type":"function","z":"5c27921.39ded6c","name":"","func":"msg.payload = \n    {\n        \"path\": \"realtime/lights/inLight\",\n        \"obj\": msg.payload\n    }\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":980,"wires":[["f498e4a7.63da28"]]},{"id":"658827ae.facbd8","type":"function","z":"5c27921.39ded6c","name":"","func":"msg.payload = \n    {\n        \"path\": \"realtime/lights/outLight\",\n        \"obj\": msg.payload\n    }\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":1300,"wires":[["385f448d.08bf3c"]]},{"id":"ba60135e.8e6c1","type":"function","z":"5c27921.39ded6c","name":"","func":"msg.payload = \n    {\n        \"path\": \"realtime/moistures/moistureOne\",\n        \"obj\": msg.payload\n    }\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":1540,"wires":[["70cc585a.c55eb8"]]},{"id":"7b74a954.4cd048","type":"mqtt in","z":"5c27921.39ded6c","name":"","topic":"local/meter/rate","qos":"2","datatype":"auto","broker":"ab492f54.80ae","x":140,"y":2120,"wires":[["3c9af44.956fc0c","501cb92e.bc0bc8","c6f5732d.98aca"]]},{"id":"ee1215d3.9666b8","type":"comment","z":"5c27921.39ded6c","name":"humidities","info":"Sub from greenhouse sensors\n - _inside humidity_\n - _outside humidity_","x":80,"y":40,"wires":[]},{"id":"e553aaef.e596d8","type":"comment","z":"5c27921.39ded6c","name":"temperatures","info":"Sub from greenhouse sensors\n - _inside temperature_\n - _outside temperatures_","x":90,"y":540,"wires":[]},{"id":"da51efa2.46581","type":"comment","z":"5c27921.39ded6c","name":"lights","info":"Sub from greenhouse sensors\n - _inside light_\n - _outside light_","x":70,"y":980,"wires":[]},{"id":"d0d479df.db71c8","type":"comment","z":"5c27921.39ded6c","name":"soil moistures","info":"Sub from greenhouse sensors\n - _soil moisture one_\n - _soil moisture two_\n - _soil moisture tree_","x":90,"y":1580,"wires":[]},{"id":"6dc5e8cf.133198","type":"comment","z":"5c27921.39ded6c","name":"soil moistures","info":"Sub from greenhouse sensors\n - _weter flow meter_","x":90,"y":2060,"wires":[]},{"id":"bd2755c.38eb3a8","type":"mqtt in","z":"5c27921.39ded6c","name":"","topic":"local/meter/quantity","qos":"2","datatype":"auto","broker":"ab492f54.80ae","x":150,"y":2260,"wires":[["d2c574e1.552208","951aaa6d.1c1b58","c6f5732d.98aca"]]},{"id":"d2c574e1.552208","type":"ui_text","z":"5c27921.39ded6c","group":"74ed4848.834a78","order":1,"width":0,"height":0,"name":"meter quantity a day","label":"ປະລະມານນ້ຳຕໍ່ວັນ (ml)","format":"{{msg.payload}}","layout":"row-spread","x":440,"y":2260,"wires":[]},{"id":"3c9af44.956fc0c","type":"function","z":"5c27921.39ded6c","name":"","func":"msg.payload = \n    {\n        \"path\": \"meter/meterRate\",\n        \"obj\": msg.payload\n    }\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":2060,"wires":[["faf16d96.f115a"]]},{"id":"951aaa6d.1c1b58","type":"function","z":"5c27921.39ded6c","name":"","func":"msg.payload = \n    {\n        \"path\": \"meter/meterQuantity\",\n        \"obj\": msg.payload\n    }\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":2200,"wires":[["eb1406df.fbb398"]]},{"id":"501cb92e.bc0bc8","type":"ui_text","z":"5c27921.39ded6c","group":"74ed4848.834a78","order":1,"width":0,"height":0,"name":"meter rate","label":"ກົງເຕີນ້ຳ (l/m)","format":"{{msg.payload}}","layout":"row-spread","x":390,"y":2120,"wires":[]},{"id":"940e6aee.5dcf78","type":"debug","z":"5c27921.39ded6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":229,"y":220,"wires":[]},{"id":"c454e0d6.4d7f3","type":"debug","z":"5c27921.39ded6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":240,"y":700,"wires":[]},{"id":"c6f5732d.98aca","type":"debug","z":"5c27921.39ded6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":300,"y":2200,"wires":[]},{"id":"70d70b3e.bfd7c4","type":"rtdb-set","z":"5c27921.39ded6c","name":"set data to firebase","cred":"9f917491.14c1f8","x":530,"y":60,"wires":[]},{"id":"3b3a3028.6951b","type":"rtdb-set","z":"5c27921.39ded6c","name":"set data to firebase","cred":"9f917491.14c1f8","x":530,"y":380,"wires":[]},{"id":"157e2276.14e06e","type":"rtdb-set","z":"5c27921.39ded6c","name":"set data to firebase","cred":"9f917491.14c1f8","x":530,"y":560,"wires":[]},{"id":"e06b857c.2e85e8","type":"rtdb-set","z":"5c27921.39ded6c","name":"set data to firebase","cred":"9f917491.14c1f8","x":530,"y":840,"wires":[]},{"id":"f498e4a7.63da28","type":"rtdb-set","z":"5c27921.39ded6c","name":"set data to firebase","cred":"9f917491.14c1f8","x":510,"y":980,"wires":[]},{"id":"385f448d.08bf3c","type":"rtdb-set","z":"5c27921.39ded6c","name":"set data to firebase","cred":"9f917491.14c1f8","x":510,"y":1300,"wires":[]},{"id":"70cc585a.c55eb8","type":"rtdb-set","z":"5c27921.39ded6c","name":"set data to firebase","cred":"9f917491.14c1f8","x":570,"y":1540,"wires":[]},{"id":"faf16d96.f115a","type":"rtdb-set","z":"5c27921.39ded6c","name":"set data to firebase","cred":"9f917491.14c1f8","x":630,"y":2060,"wires":[]},{"id":"eb1406df.fbb398","type":"rtdb-set","z":"5c27921.39ded6c","name":"set data to firebase","cred":"9f917491.14c1f8","x":650,"y":2200,"wires":[]},{"id":"529c337b.5819dc","type":"firestore-add","z":"5c27921.39ded6c","name":"humidities to firestore","cred":"9f917491.14c1f8","x":900,"y":280,"wires":[[]]},{"id":"a6fc6ca5.02342","type":"firestore-add","z":"5c27921.39ded6c","name":"temperatures to firestore","cred":"9f917491.14c1f8","x":930,"y":760,"wires":[[]]},{"id":"de1c3b93.066858","type":"firestore-add","z":"5c27921.39ded6c","name":"lights to firestore","cred":"9f917491.14c1f8","x":820,"y":1200,"wires":[[]]},{"id":"6ca3dfbe.57099","type":"firestore-add","z":"5c27921.39ded6c","name":"moistures to firestore","cred":"9f917491.14c1f8","x":880,"y":1840,"wires":[[]]},{"id":"857a8e58.f89c6","type":"mqtt-broker","z":"","name":"","broker":"192.168.9.75","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"20cfed7.af41112","type":"influxdb","z":"","hostname":"192.168.9.75","port":"8086","protocol":"http","database":"local_melon_greenhouse_v00","name":"","usetls":false,"tls":""},{"id":"22292483.ff341c","type":"ui_group","z":"","name":"ຄວາມຊຸ່ມອາກາດ","tab":"1754f3a5.bfd4fc","order":2,"disp":true,"width":"6","collapse":false},{"id":"a732fde4.46419","type":"ui_group","z":"","name":"ອຸນຫະພູມ","tab":"1754f3a5.bfd4fc","order":1,"disp":true,"width":"6","collapse":false},{"id":"56dba1a8.29992","type":"ui_group","z":"","name":"ຄວາມເຂັ້ນແສງແດດ","tab":"1754f3a5.bfd4fc","order":3,"disp":true,"width":"6","collapse":false},{"id":"74ed4848.834a78","type":"ui_group","z":"","name":"ຄວາມຊຸ່ມດິນ","tab":"1754f3a5.bfd4fc","order":4,"disp":true,"width":"6","collapse":false},{"id":"ab492f54.80ae","type":"mqtt-broker","z":"","name":"","broker":"192.168.9.75","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9f917491.14c1f8","type":"firebase-config","z":0,"name":"firebaseAdmin","cred":"{   \"type\": \"service_account\",   \"project_id\": \"melonhub-3d561\",   \"private_key_id\": \"c70fd294b3569b784b0c9a296f498b600a9365c7\",   \"private_key\": \"-----BEGIN PRIVATE KEY-----\\nMIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQCxp/5z7bjhwxHt\\nFEi0Le24QnF3taUct00CtMMk1r9DKHvse87YPtGyVLUfWwGmynbLudLmK72PqPEh\\n6t6AngNzmNkCXhX3dlJGcf7CaKchtx68FoL+FfYdV8QpCUI0avXv9IUBfR1T7n8E\\nwv1zFf290rWxmiibZGak7rjOkOqfa/Bt18qMSswvMiFlJATmAaiVCF208bhcRGn1\\niT9NOhJnLbhpV+4R8hGm08DQHz6qm0b8thoFlJs1yBEd69hakZKHvTtCC9FNK6k4\\npreGc2xfYoLgzOmApnIwshTLxAcOJPr/v186rEtyDFnOFETaqojMnCQuUWq8V1KH\\nbDF9lbQJAgMBAAECggEAU0iA9dHUoSl0huLCbo01avLjBI6H991KYeFhtixh/1bE\\nOYmU3zUb0vD489kS/iDd7gWQA80vkWBOomrbognxbkiSOxTmUVsLmPCp0HOFHj4d\\nT2lyQTEEbp8NW3t2qOIXp0TG8Xq4u/cLXq0WadQ+XrWf7cFqFebMY7dxtYykINWL\\n+DeDVoxbLkHqsoaTbcDcIeI6Ac8PdDcDaHEJBxi+KaJtVY7+VFp++t2E1BJ1wzCJ\\nWEFnmJAQTPPL644QobDHpztUcsLDxX+FxI6arQ0XoEClqB7LgD05hbV4RbQRWhIy\\nDSO9U9Qvwb3b6RwSsSmebttQFs6fxpMYgqyjlQNIDQKBgQD3a/Ym9C6Zshxh0Pbt\\ncz6yrxZ/qmFkjRh1bpg+RxemSjFRzKodMVxwQ9KR8NQGZh6hz0DjQDcU2o2oO/fs\\nhNVH7YFxWvKLXRKkD1VVd/a4F1+GsPYGp01gj3gVpfurwUkYoXFdWMQep1ZujoiS\\nkLBZbUMMXqevKJs0hNu+5OCtAwKBgQC30NDE9yUj6PC17zTmSJ8htFR5rP9Sm2oe\\ncbkfSVz25YLt+3Vp/iZUhknnTsFq/7MPei1uNz+rqTHab25IYL5WnizK9c/q5yVq\\nryS14FOvmHW5gxG1YvHylVgtXduQCRxpBwX4BTUhFdK6NAniwdzsszNFrCCQ9oJ0\\nmn1lucWPAwKBgGjneo+bmqKJ9SS4H+ofoebK+8QXboHenQ81XBGTvQBBltWy7DHC\\newoSh5ZfQNaRt80tfbqcwH30CHnbK0w6Kd/8YJS6Vfom9T9gTPMXESGOr28BWt8J\\nUnJtgiHTpXh2VFLAKLvGZikFFE1924QhGtRf0jzNaVWH5v6GklFG48gXAoGAagL3\\ndLFo7SX6NaNo6es2Q7UCB067zkOt1zMVZjLkd8x0T5Z36BJYvuTYGJw2NuSTu7hm\\nHSul//XLt8QOYZXSEJiXEtLkAAEhdj7euDpRaXNPahdqjicrjRGO0lNQPujSRsxz\\nJ9CxDIzOhO9gSDQwmx7a0jLscU6KfH9hFNsoUksCgYBq03LQBLk5IrezVlLiHBn4\\n2r6B7But130KjUkoKQnULThc8PzW4iCdZqH9wmafDp6i+Pb1dQyMSJXAz3WSTrpn\\nrz6ZWzMTCgr/xXRli185QYJG03wzHC0K2PtMDwRDQiTWewLC/BjnCyrXAYkF1Y9X\\nY8YvIr1uy7WeuO3tMi6n0g==\\n-----END PRIVATE KEY-----\\n\",   \"client_email\": \"firebase-adminsdk-eotjp@melonhub-3d561.iam.gserviceaccount.com\",   \"client_id\": \"106057534069590528382\",   \"auth_uri\": \"https://accounts.google.com/o/oauth2/auth\",   \"token_uri\": \"https://oauth2.googleapis.com/token\",   \"auth_provider_x509_cert_url\": \"https://www.googleapis.com/oauth2/v1/certs\",   \"client_x509_cert_url\": \"https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-eotjp%40melonhub-3d561.iam.gserviceaccount.com\" }","dburl":"https://melonhub-3d561.firebaseio.com/","bucket":""},{"id":"1754f3a5.bfd4fc","type":"ui_tab","z":"","name":"ການຕິດຕາມ","icon":"dashboard","order":1,"disabled":false,"hidden":false}]